@font-face {
   font-family: RickAndMorty;
   src: url(./assets/Fonts/get_schwifty.ttf);
}


.App {
   text-align: center;
   
 
}

.tituloPag{
   position: relative;
   margin-top: 5px;
   font-family: "RickAndMorty", "Roboto Mono", 'Courier New';
   font-size: 5em;
   font-stretch: extra-expanded;
   color:rgb(155, 3, 201) ;
   font-weight: bolder;
   /* -webkit-text-stroke: rgb(0, 0, 0); */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgba(19, 230, 0, 0.495);
   
} 

.center{

   display: flex;
   /* grid-template-columns: 1fr 1fr;  */
   align-items: center;
   justify-content: center;

}