.container{
   display: grid;
   /* grid-template-columns: 1fr 1fr 1fr 1fr; */
   grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
   justify-content: center;
   grid-auto-flow: dense; 

   gap: 2rem;
   margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
   /* align-items: flex-start; */

}

.tituloPag{
   position: relative;
   margin-top: 2rem;
   margin-bottom: 1rem;
   font-family: "RickAndMorty", "Roboto Mono", 'Courier New';
   font-size: 8rem;
   /* font-stretch: extra-expanded; */
   color:rgb(155, 3, 201);
   /* font-weight: bolder; */
   /* -webkit-text-stroke: rgb(0, 0, 0); */
   -webkit-text-fill-color: rgb(155, 3, 201);
   -webkit-text-stroke-width: .001px;
   -webkit-text-stroke-color:  rgba(19, 230, 0, 0.842);
   
  
   
}

.cardHeader{
   margin-top: 3rem;
   font-family: "Press Start 2P", "Roboto Mono";
   color: rgb(155, 3, 201);
   font-size: .9rem;
   font-weight: bold;
   /* text-decoration: underline dotted; */
   
}